menu{ 
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: cadetblue;
    padding: 10px;
    border: 5px solid #2aeb04;
    border-radius:5px;
    box-shadow: 02px 5px rgba (0,0,0,0.1);
    transition: background-color 0.4;
   }
   menu:hover { background-color: #e40c0c ;
                color: darkolivegreen;}
   nav ul{  
     list-style: none;
     padding: 0;
     margin: 0;
 }
 nav ul li{  
     display: inline-block;
     margin-right: 0;}
    
     nav ul li a
     { text-decoration: none;
         color: rgb(255, 217, 91);  
     }
    nav ul li a:hover{ color: rgb(5, 92, 34); }